/.vs/
/*/bin/
/*/obj/
/ScriptsForRedgateAdapter/obj/
/ScriptsForRedgateAdapter.Models/obj/
/ScriptsForRedgateAdapter.DAL/obj/
/ScriptsForRedgateAdapter.Test/obj/
/ScriptsForRedgateAdapter.Interfaces/obj/
/ScriptsForRedgateAdapter.Business/obj/


